@using System.Web.UI.WebControls
@model Proftaak_test.Controllers.TramController.SectorViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <title>Trams</title>
</head>
<body>
<div class="trambeheer">
@foreach (var item in @Model.SpoorList)
{
    <div class="Spoor">
        
        <p>Spoor: @item.Nummer</p>
    </div>
    foreach (Sector sector in @Model.SectorList)
    {
        if (sector.SpoorId == item.Id)
        {
            if (sector.Blokkade == false)
            {
                if (sector.Tram != null)
                {
                    <div class=Sector>
                        @Html.ActionLink(Convert.ToString("Tram: " + sector.Tram.Nummer), "Index", "Tram", new {style = "width:50px; background-color: #3276b1; color: white; padding: 3px 3px;border: none; border-radius: 4px; cursor: pointer; font-size: 20px; "})
                    </div>
                }
                else
                {
                    <div class=Sector>
                        @Html.ActionLink(Convert.ToString(@sector.Nummer), "Index", "Tram", new {id = sector.Id, block = sector.Blokkade}, new {style = "width:50px; background-color: #3276b1; color: white; padding: 3px 3px;border: none; border-radius: 4px; cursor: pointer; font-size: 20px; "})
                    </div>
                }
            }
            else
            {
                if (sector.Tram != null)
                {
                    <div class=Sector>
                        @Html.ActionLink(Convert.ToString("Tram: " + sector.Tram.Nummer), "Index", "Tram", new {style = "width:50px; background-color: #3276b1; color: white; padding: 3px 3px;border: none; border-radius: 4px; cursor: pointer; font-size: 20px; "})
                    </div>
                }
                else
                {
                    <div class=Sector>
                        @Html.ActionLink("BLOCKED", "Index", "Tram", new {id = sector.Id, block = sector.Blokkade}, new {style = "width:50px; background-color: #3276b1; color: white; padding: 3px 3px;border: none; border-radius: 4px; cursor: pointer; font-size: 20px; "})
                    </div>
                }
            }
        }
    }
}
    </div>
</body>
</html>



